
/*cart badge*/
.cart-badge,
.cart-badge:hover {
    border-radius: 50%;
    padding: 3px;
    font-size: 15px;
    font-style: bold;
    color: white;
    background: #e73c7e;
}

/*madebymaebh logo*/
.navbar-header
{
    background-color: white;
    font: bold;
    color: #e73c7e;
    font-family: cursive;
    font-size: large;
}

/* shopping bag */
.shoppingbag {
    height: 25px;
}

/*product image on card */

.product-img {
    height: 20rem;
    width: auto;
    display: flex;
    justify-content: center;
}

/* card */
.card {
    height: fit-content;
    width: auto;
    border: none;
}

.card-p {
    display: flex;
    justify-content: center;
}

.showSold {
    display: flex;
    justify-content: center;
}

.badge {
    background-color: lightgrey;
    color: #000;
}

/* home jumbotron */
.maebhStandingPic {
    height: 550px;
    width: 400px;
    object-fit: cover;
    margin: auto;    
    display: block;
}

.homeJumbotron {
    background-color: white;
}

.homeJumboDescription {
    margin: auto;    
    text-align: center;
}

/* home page */

.separator {
    display: flex;
    align-items: center;
    text-align: center;
    font-size: x-large;
}

.separator::before, .separator::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid #000;
}
.separator::before {
    margin-right: .25em;
}
.separator::after {
    margin-left: .25em;
}

/* about page */

.aboutP {
    margin-left: 10rem;
    margin-right: 10rem;
}



/* footer */

.fab {
    color: #e73c7e;
}




