
/*Navbar*/
.cart-badge,
.cart-badge:hover {
    border-radius: 50%;
    padding: 3px;
    font-size: 15px;
    font-style: bold;
    color: white;
    background: #e73c7e;
}

.navbar-header
{
    background-color: white;
    font: bold;
    color: #e73c7e;
    font-size: large;
}

.shoppingbag {
    height: 25px;
}

/* card */
.card {
    height: fit-content;
    width: auto;
    border: none;
}

.product-img {
    height: 20rem;
    width: auto;
    display: flex;
    justify-content: center;
}

.card-p {
    display: flex;
    justify-content: center;
}

.showSold {
    display: flex;
    justify-content: center;
}

.badge {
    background-color: lightgrey;
    color: #000;
}

/* home jumbotron */
.maebhStandingPic {
    object-fit: cover;
    margin: auto;    
    display: block;
}

.homeJumbotron {
    background-color: white;
}

.homeJumboDescription {
    margin: auto;    
}

/* Slideshow */

.each-fade {
    display: flex;
    justify-content: center;
    position: relative;
}

.each-fade  img {
    width: auto;
    height: auto;
    overflow: hidden;
    background-size: cover;
    background-position: center;
}

.slideButton {
    position: absolute;
    top: 90%;
    left: 25%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #555;
    color: white;
    font-size: 20px;
    padding: 12px 24px;
    background-color: transparent;
    border: solid white 1px;
    cursor: pointer !important;
}

.slideButton:hover {
    background-color: #000;
    color: white;
}

/* home page */

.separator {
    display: flex;
    align-items: center;
    text-align: center;
    font-size: x-large;
}

.separator::before, .separator::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid #000;
}
.separator::before {
    margin-right: .5em;
}
.separator::after {
    margin-left: .5em;
}

/* about page */

.maebhSelfPic {
    object-fit: cover;
    margin: auto;    
    display: block;
}

.aboutP {
    margin: auto;    
    display: block;
}

/* shop page */

.shopDrop {
    margin: auto;    
    display: block;
    text-align: center;
}

.shopCards {
    justify-content: center;
}

.filterBtn {
    background-color: white;
    font: bold;
    color: #e73c7e;
    font-size: large;
    border: none;
}

/* footer */

.fab {
    color: #e73c7e;
}




